<section class="section">
  <h1 class="title"><%= @article.title%></h1>
  <h2 class="subtitle">
    <%=@article.content%>
  </h2>
</section>
<%=link_to "返回文章列表",articles_path, class:"button is-primary"%>