<div class="column has-text-grey-light has-text-right-in-desktop is-size-4 mt-6 ml-6">
  <p class=has-text-weight-light>Taiwan</p>
  <div class="social-icon">
    <%=link_to "mailto:benny08118@gmail.com" ,class:"github is-mi" do%>
      <p class="has-text-black">
        <i class="fas fa-envelope-open-text"></i> E-Mail
      </p>
      <%end%>
  </div>
  <div class="social-icon">
    <%=link_to "https://benny08118.medium.com/" ,class:"github " do%>
                      <p class=" has-text-black">
      <i class="fab fa-medium"></i> Medium
      </p>
      <%end%>
  </div>
  <div class="social-icon">
    <%=link_to "https://github.com/fttp0165" ,class:"github" do%>
      <p class="has-text-black">
        <i class="fab fa-github has-text-black"></i> GitHub
      </p>
      <%end%>
  </div>
  <div class="social-icon"></div>
  <div class="social-icon"></div>
</div>