
<div class="columns has-background-light">
  <div class="column">
   <%@projects.each do|project|%>
    <%= render  'project_card',project: project%>
   <%end%>
  </div>
  </div>
  <div class="column">
    
  </div>
</div>