<%=link_to "新增專案",new_admin_project_path,class:"button is-info"%>
<div class="columns has-background-light" >
  <div class="column">
   <%@projects.each do|project|%>
    <%= render  'project_card',project: project%>
   <%end%>
  </div>
  </div>
  <div class="column">
    
  </div>
</div>