<% @projects.each do |project|%>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-120x120">
            <%= image_tag project.project_picture.variant(resize_to_limit: [640, 340]),class:"modal-button","data-action":"click->lightbox#show" if project.project_picture.attached? %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%=link_to project.project_name,project_path(project)%></p>
          <p class="subtitle is-6"><%=strip_tags(project.project_content.to_s).truncate(100)%></p>
          <p class="subtitle is-6"><%=link_to "網站位址",project.web_link unless project.web_link.nil?%></p>
        </div>
      
      </div>
    </div>
  </div>
  <br>
<%end%>