
<div class="tabs is-centered">
  <ul>
    <li><%=link_to "作品",admin_projects_path%></li>
    <li><%=link_to "技能",admin_skills_path%></li>
    <li><%=link_to "簡介",admin_information_index_path%></li>
    <li><%=link_to "經歷",admin_skills_path%></li>
  </ul>
</div>