.box{
      box-sizing: border-box;
}
.title-content{
      background-color: lightblue;
}

.infosection{
      border: 1px solid lightblue;
      border-radius: 10px;
      padding: 5%;
}

.textarea_size{
   min-height: 50em;

}