<nav class="navbar is-light has-shadow " role="navigation" data-controller="nav" aria-label="main navigation">
      <div class="navbar-brand" >
          <%=link_to root_path,class:"navbar-item" do%>
            <i class="fas fa-bold fa-2x has-text-info-dark"></i>
          <%end%>
        </a>
    
        <a role="button" class="navbar-burger" data-action="click->nav#greet" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu " data-nav-target="output">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
    
          <a class="navbar-item">
            Project
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Archives
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Categories
              </a>
              <a class="navbar-item">
                Tags
              </a>
         
      
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
           
            </div>
          </div>
        </div>
      </div>
    </nav>
