<div class="tabs is-centered" >
  <ul>
    <li class=""  data-tab-target="li">
      <%=link_to '簡介',root_path %>
    </li>
    <li data-tab-target="li">
      <%=link_to '作品',projects_path%>
    </li>
    <li  data-tab-target="li">
      <%=link_to '文章',projects_path%>
    </li>
  </ul>
</div>